doctype html
html(lang="ru")
    head
        include ../include/head

    body
        include ../include/header

        block content

        include ../include/footer

        include ../include/footerJS

        block pageScript
